<div class="wrapper">
    <mat-card>
        <p style="font-size: 30px; color:rgb(26, 78, 175); text-align:center; margin-top: 10px; ">Booking</p>
        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegisters()">

                <!-- fullName -->
                <mat-form-field class="full-width">
                    <input matInput placeholder="Full Name" [(ngModel)]="form.fullName" formControlName="fullName"
                        required>
                    <mat-error *ngFor="let validation of validation_messages.fullName">
                        <mat-error class="error-message"
                            *ngIf="registerForm.get('fullName').hasError(validation.type) && (registerForm.get('fullName').dirty || registerForm.get('fullName').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

                <!-- Birthday -->
                <mat-form-field class="haft-width">
                    <input matInput [matDatepicker]="birthday" [max]="dateNow" placeholder="Choose a birthday"
                        [(ngModel)]="form.birthday" formControlName="birthday" required>
                    <mat-error *ngFor="let validation of validation_messages.birthday">
                        <mat-error class="error-message"
                            *ngIf="registerForm.get('birthday').hasError(validation.type) && (registerForm.get('birthday').dirty || registerForm.get('birthday').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                    <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                    <mat-datepicker #birthday></mat-datepicker>
                </mat-form-field>

                <!-- gender -->
                <mat-form-field class="haft-width">
                    <mat-select matInput placeholder="Gender" [(ngModel)]="form.gender" formControlName="gender"
                        required>
                        <mat-option *ngFor="let gender of genders" [value]="gender">
                            {{ gender }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngFor="let validation of validation_messages.gender">
                        <mat-error class="error-message"
                            *ngIf="registerForm.get('gender').hasError(validation.type) && (registerForm.get('gender').dirty || registerForm.get('gender').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

                <!-- phone -->
                <mat-form-field class="full-width">
                    <input matInput placeholder="Phone Number" [(ngModel)]="form.phone" formControlName="phone"
                        required>
                    <mat-hint align="end">Việt Nam: 0989898989</mat-hint>
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngFor="let validation of validation_messages.phone">
                        <mat-error class="error-message"
                            *ngIf="registerForm.get('phone').hasError(validation.type) && (registerForm.get('phone').dirty || registerForm.get('phone').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="haft-width">
                    <mat-select matInput placeholder="Relationship" [(ngModel)]="form.relationship" formControlName="relationship"
                        required>
                        <mat-option *ngFor="let relationship of relationships" [value]="relationship">
                            {{ relationship }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngFor="let validation of validation_messages.relationship">
                        <mat-error class="error-message"
                            *ngIf="registerForm.get('relationship').hasError(validation.type) && (registerForm.get('relationship').dirty || registerForm.get('relationship').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="haft-width">
                    <input matInput placeholder="Amount" [(ngModel)]="form.amount" formControlName="amount" required>
                    <mat-error *ngFor="let validation of validation_messages.amount">
                        <mat-error class="error-message"
                            *ngIf="registerForm.get('amount').hasError(validation.type) && (registerForm.get('amount').dirty || registerForm.get('amount').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>


                <!-- checkIn -->
                <mat-form-field class="haft-width">
                    <input matInput [matDatepicker]="checkIn" [min]="dateNow" placeholder="Choose a checkIn"
                        [(ngModel)]="form.checkIn" formControlName="checkIn" required>
                    <mat-error *ngFor="let validation of validation_messages.checkIn">
                        <mat-error class="error-message"
                            *ngIf="registerForm.get('checkIn').hasError(validation.type) && (registerForm.get('checkIn').dirty || registerForm.get('checkIn').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                    <mat-datepicker-toggle matSuffix [for]="checkIn"></mat-datepicker-toggle>
                    <mat-datepicker #checkIn></mat-datepicker>

                </mat-form-field>

                
                <!-- checkOut -->
                <mat-form-field class="haft-width">
                    <input matInput [matDatepicker]="checkOut" [min]="form.checkIn" placeholder="Choose a checkOut"
                        [(ngModel)]="form.checkOut" formControlName="checkOut" required>
                    <mat-error *ngFor="let validation of validation_messages.checkOut">
                        <mat-error class="error-message"
                            *ngIf="registerForm.get('checkOut').hasError(validation.type) && (registerForm.get('checkOut').dirty || registerForm.get('checkOut').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                    <mat-datepicker-toggle matSuffix [for]="checkOut"></mat-datepicker-toggle>
                    <mat-datepicker #checkOut></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <textarea matInput placeholder="Desciption" [(ngModel)]="form.desciptionBookingHouse"
                        formControlName="desciptionBookingHouse" required></textarea>
                    <mat-error *ngFor="let validation of validation_messages.desciptionBookingHouse">
                        <mat-error class="error-message"
                            *ngIf="registerForm.get('desciptionBookingHouse').hasError(validation.type) && (registerForm.get('desciptionBookingHouse').dirty || registerForm.get('desciptionBookingHouse').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

                <!-- Button -->
                <mat-card-actions>
                    <button mat-raised-button style="border-radius: 20px" color="primary">Booking</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>