<div class="container">
    <div class="row mt-4">
        <div class="col-sm-3 hidden-sm-down pl-0">
            <div class="left-filter px-2 py-2" style="position: sticky;	top: 10px;">
                <strong style="color:#0fb00f">Lọc khách sạn theo</strong>
                <button mat-icon-button color="primary" (click)="refreshForm()">
                    <mat-icon>refresh</mat-icon>
                </button>
                <mat-form-field style="width:100%; margin-top:5px;">
                    <input matInput placeholder="Tên khách sạn ..." [(ngModel)]="searchText">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <strong style="margin:10px 0; display: block; color:#0fb00f">Theo mức giá</strong>
                <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>
                <p class="alert alert-primary text-center" style="margin:12px 0;">
                    Từ {{value}} đ -> {{highValue}} đ
                </p>
                <div
                    style="width: 100%; margin-top: 20px; height:1px; border-bottom:1px dashed rgba(128, 128, 128, 0.685);">
                </div>
                <strong style="margin:10px 0; display: block; color:#0fb00f">Theo số phòng ngủ</strong>
                <mat-form-field>
                    <mat-label>Số lượng phòng ngủ</mat-label>
                    <select matNativeControl [(ngModel)]="numOfBedroom" name="numbedroom">
                        <option value="" selected></option>
                        <option [value]="1">1</option>
                        <option [value]="2">2</option>
                        <option [value]="3">3</option>
                        <option [value]="4">4</option>
                    </select>
                </mat-form-field>
                <div
                    style="width: 100%; margin-top: 10px; height:1px; border-bottom:1px dashed rgba(128, 128, 128, 0.685);">
                </div>
                <strong style="margin:10px 0; display: block; color:#0fb00f">Theo loại phòng</strong>
                <mat-form-field>
                    <mat-label>Loại phòng</mat-label>
                    <select matNativeControl [(ngModel)]="typeOfBedroom" name="typebedroom">
                        <option value="" selected></option>
                        <option [value]="1">Vip</option>
                        <option [value]="2">Thường</option>
                    </select>
                </mat-form-field>
                <button mat-raised-button style="width:100%;" color="primary" (click)="loadData(0)">
                    <mat-icon>find_in_page</mat-icon>Filter
                </button>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="alert alert-danger" *ngIf="houses.length==0">
                Không có kết quả nào phù hợp với yêu cầu
            </div>
            <div class="row house-item" *ngFor="let house of houses">
                <div class="col-md-9">
                    <h4 style="color:#00ADEF; margin-bottom: 0;">
                        <a [routerLink]="[ '/view-house', house.id ]">{{ house.name}}</a>
                        <span style="box-sizing: border-box; float: right;">
                            <span class="rate-star"><i class="fas fa-star"></i></span>
                            <span class="rate-star"><i class="fas fa-star"></i></span>
                            <span class="rate-star"><i class="fas fa-star"></i></span>
                            <span class="rate-star"><i class="fas fa-star"></i></span>
                            <span class="rate-star"><i class="fas fa-star"></i></span>
                        </span>
                    </h4>
                    <small><i class="fas fa-map-marker-alt"></i> {{ house.address }}</small>
                    <div class="house-wrapper">
                        <div class="row">
                            <div class="col-sm-6 noPadRight">
                                <div class="image-house">
                                    <img width="100%" [src]="house.image.split('||---||')[0]" alt="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="content">
                                    <p style="font-size: 13px; color:gray">
                                        {{house.describe}}
                                    </p>
                                    <p style=" margin-bottom: 5px; font-size: 15px;"><i style="color: #92C742;"
                                            class="fas fa-check-circle"></i> Đảm bảo hoàn tiền</p>
                                    <p style=" margin-bottom: 5px; font-size: 15px;"><i style="color: #92C742;"
                                            class="fas fa-check-circle"></i> Đảm bảo giá tốt nhất</p>
                                    <p style="font-size: 16px; font-weight: 400!important; margin-top:5px;" class="badge badge-info p-2">
                                        <i class="fas fa-bed"></i> Số phòng ngủ:  {{house.numberOfBedrooms}}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pb-1">
                    <div class="rate pt-2 pr-2">
                        <div class="clearfix">
                            <span>8.3</span><span>Xuất sắc</span>
                        </div>
                        <p style="margin-bottom: 0; text-align: right; padding-right: 10px; color:#00adef">(128 đánh
                            giá)</p>
                    </div>
                    <div class="price pt-2 pr-2" style="text-align: right;">
                        <div class="badge   px-2 py-1" style="font-size: 16px;"
                            [ngClass]="house.status=='Leased'? 'badge-danger' : 'badge-success'">
                            {{ house.status=='Leased'?'Hết phòng':'Còn phòng'}}
                        </div>
                        <br>
                        <p style="text-decoration:line-through; margin-top:10px; margin-bottom: 0;">
                            {{ house.priceByNight*1.2 | currency:'VND':'':'.0'}} đ</p>
                        <p class="text-success" style="font-size: 20px; margin-bottom: 5px;">
                            {{ house.priceByNight | currency:'VND':'':'.0'}} đ</p>
                        <button mat-raised-button color="warn">Xem phòng ngay</button>
                    </div>
                </div>
            </div>
            <!--
            <div class="row house-item">
                <div class="col-md-9">
                    <h4 style="color:#00ADEF; margin-bottom: 0;">Khách Sạn Magnolia Đà Nẵng
                        <span style="box-sizing: border-box; float: right;">
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                        </span>
                    </h4>
                    <small><i class="fas fa-map-marker-alt"></i> 06 Lê Lợi, Phường Thạch Thang, Hải Châu, Đà Nẵng, Hải
                        Châu, Đà Nẵng</small>
                    <div class="house-wrapper">
                        <div class="row">
                            <div class="col-sm-6 noPadRight">
                                <div class="image-house">
                                    <img width="100%"
                                        src="https://firebasestorage.googleapis.com/v0/b/airbnb-b7eb3.appspot.com/o/files%2F104097985.jpg_1563323776859?alt=media&token=81711cbc-f0b3-476f-bbf6-abb494ab0a16"
                                        alt="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="content">
                                    <p style="font-size: 13px; color:gray">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam aspernatur ea
                                        sunt
                                        vitae quidem alias commodi blanditiis repudiandae iure id non ex, beatae,
                                        adipisci
                                        assumenda architecto earum rerum in? Atque?
                                    </p>
                                    <p style=" margin-bottom: 5px; font-size: 15px;"><i style="color: #92C742;"
                                            class="fas fa-check-circle"></i> Đảm bảo hoàn tiền</p>
                                    <p style=" margin-bottom: 5px; font-size: 15px;"><i style="color: #92C742;"
                                            class="fas fa-check-circle"></i> Đảm bảo giá tốt nhất</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pb-1">
                    <div class="rate pt-2 pr-2">
                        <div class="clearfix">
                            <span>8.3</span><span>Xuất sắc</span>
                        </div>
                        <p style="margin-bottom: 0; text-align: right; padding-right: 10px; color:#00adef">(128 đánh giá)</p>
                    </div>
                    <div class="price pt-2 pr-2" style="text-align: right;">
                        <div class="badge  badge-success px-2 py-1" style="font-size: 16px;">Còn phòng</div>
                        <br>
                        <p style="text-decoration:line-through; margin-top:10px; margin-bottom: 0;">647,000 đ</p>
                        <p class="text-success" style="font-size: 20px; margin-bottom: 5px;">500,000 đ</p>
                        <button mat-raised-button color="warn">Xem phòng ngay</button>
                    </div>
                </div>
            </div>
            <div class="row house-item">
                <div class="col-md-9">
                    <h4 style="color:#00ADEF; margin-bottom: 0;">Khách Sạn Magnolia Đà Nẵng
                        <span style="box-sizing: border-box; float: right;">
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                        </span>
                    </h4>
                    <small><i class="fas fa-map-marker-alt"></i> 06 Lê Lợi, Phường Thạch Thang, Hải Châu, Đà Nẵng, Hải
                        Châu, Đà Nẵng</small>
                    <div class="house-wrapper">
                        <div class="row">
                            <div class="col-sm-6 noPadRight">
                                <div class="image-house">
                                    <img width="100%"
                                        src="https://firebasestorage.googleapis.com/v0/b/airbnb-b7eb3.appspot.com/o/files%2F81791421.jpg_1563323776858?alt=media&token=986a1577-0bd4-4925-bcee-d8fb14629701"
                                        alt="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="content">
                                    <p style="font-size: 13px; color:gray">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam aspernatur ea
                                        sunt
                                        vitae quidem alias commodi blanditiis repudiandae iure id non ex, beatae,
                                        adipisci
                                        assumenda architecto earum rerum in? Atque?
                                    </p>
                                    <p style=" margin-bottom: 5px; font-size: 15px;"><i style="color: #92C742;"
                                            class="fas fa-check-circle"></i> Đảm bảo hoàn tiền</p>
                                    <p style=" margin-bottom: 5px; font-size: 15px;"><i style="color: #92C742;"
                                            class="fas fa-check-circle"></i> Đảm bảo giá tốt nhất</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pb-1">
                    <div class="rate pt-2 pr-2">
                        <div class="clearfix">
                            <span>8.3</span><span>Xuất sắc</span>
                        </div>
                        <p style="margin-bottom: 0; text-align: right; padding-right: 10px; color:#00adef">(128 đánh giá)</p>
                    </div>
                    <div class="price pt-2 pr-2" style="text-align: right;">
                        <div class="badge  badge-success px-2 py-1" style="font-size: 16px;">Còn phòng</div>
                        <br>
                        <p style="text-decoration:line-through; margin-top:10px; margin-bottom: 0;">647,000 đ</p>
                        <p class="text-success" style="font-size: 20px; margin-bottom: 5px;">500,000 đ</p>
                        <button mat-raised-button color="warn">Xem phòng ngay</button>
                    </div>
                </div>
            </div>
            <div class="row house-item">
                <div class="col-md-9">
                    <h4 style="color:#00ADEF; margin-bottom: 0;">Khách Sạn Magnolia Đà Nẵng
                        <span style="box-sizing: border-box; float: right;">
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                        </span>
                    </h4>
                    <small><i class="fas fa-map-marker-alt"></i> 06 Lê Lợi, Phường Thạch Thang, Hải Châu, Đà Nẵng, Hải
                        Châu, Đà Nẵng</small>
                    <div class="house-wrapper">
                        <div class="row">
                            <div class="col-sm-6 noPadRight">
                                <div class="image-house">
                                    <img width="100%"
                                        src="https://firebasestorage.googleapis.com/v0/b/airbnb-b7eb3.appspot.com/o/files%2F200170124.jpg_1563328106618?alt=media&token=aa2d28fd-7c55-4cd8-ac6e-0f6a76b676f2"
                                        alt="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="content">
                                    <p style="font-size: 13px; color:gray">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam aspernatur ea
                                        sunt
                                        vitae quidem alias commodi blanditiis repudiandae iure id non ex, beatae,
                                        adipisci
                                        assumenda architecto earum rerum in? Atque?
                                    </p>
                                    <p style=" margin-bottom: 5px; font-size: 15px;"><i style="color: #92C742;"
                                            class="fas fa-check-circle"></i> Đảm bảo hoàn tiền</p>
                                    <p style=" margin-bottom: 5px; font-size: 15px;"><i style="color: #92C742;"
                                            class="fas fa-check-circle"></i> Đảm bảo giá tốt nhất</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pb-1">
                    <div class="rate pt-2 pr-2">
                        <div class="clearfix">
                            <span>8.3</span><span>Xuất sắc</span>
                        </div>
                        <p style="margin-bottom: 0; text-align: right; padding-right: 10px; color:#00adef">(128 đánh giá)</p>
                    </div>
                    <div class="price pt-2 pr-2" style="text-align: right;">
                        <div class="badge  badge-success px-2 py-1" style="font-size: 16px;">Còn phòng</div>
                        <br>
                        <p style="text-decoration:line-through; margin-top:10px; margin-bottom: 0;">647,000 đ</p>
                        <p class="text-success" style="font-size: 20px; margin-bottom: 5px;">500,000 đ</p>
                        <button mat-raised-button color="warn">Xem phòng ngay</button>
                    </div>
                </div>
            </div>
            <div class="row house-item">
                <div class="col-md-9">
                    <h4 style="color:#00ADEF; margin-bottom: 0;">Khách Sạn Magnolia Đà Nẵng
                        <span style="box-sizing: border-box; float: right;">
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                        </span>
                    </h4>
                    <small><i class="fas fa-map-marker-alt"></i> 06 Lê Lợi, Phường Thạch Thang, Hải Châu, Đà Nẵng, Hải
                        Châu, Đà Nẵng</small>
                    <div class="house-wrapper">
                        <div class="row">
                            <div class="col-sm-6 noPadRight">
                                <div class="image-house">
                                    <img width="100%"
                                        src="https://firebasestorage.googleapis.com/v0/b/airbnb-b7eb3.appspot.com/o/files%2F180648209.jpg_1563328106616?alt=media&token=2191bb16-fb92-4af5-b1be-b6117fa26557"
                                        alt="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="content">
                                    <p style="font-size: 13px; color:gray">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam aspernatur ea
                                        sunt
                                        vitae quidem alias commodi blanditiis repudiandae iure id non ex, beatae,
                                        adipisci
                                        assumenda architecto earum rerum in? Atque?
                                    </p>
                                    <p style=" margin-bottom: 5px; font-size: 15px;"><i style="color: #92C742;"
                                            class="fas fa-check-circle"></i> Đảm bảo hoàn tiền</p>
                                    <p style=" margin-bottom: 5px; font-size: 15px;"><i style="color: #92C742;"
                                            class="fas fa-check-circle"></i> Đảm bảo giá tốt nhất</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pb-1">
                    <div class="rate pt-2 pr-2">
                        <div class="clearfix">
                            <span>8.3</span><span>Xuất sắc</span>
                        </div>
                        <p style="margin-bottom: 0; text-align: right; padding-right: 10px; color:#00adef">(128 đánh giá)</p>
                    </div>
                    <div class="price pt-2 pr-2" style="text-align: right;">
                        <div class="badge  badge-success px-2 py-1" style="font-size: 16px;">Còn phòng</div>
                        <br>
                        <p style="text-decoration:line-through; margin-top:10px; margin-bottom: 0;">647,000 đ</p>
                        <p class="text-success" style="font-size: 20px; margin-bottom: 5px;">500,000 đ</p>
                        <button mat-raised-button color="warn">Xem phòng ngay</button>
                    </div>
                </div>
            </div>
            <div class="row house-item">
                <div class="col-md-9">
                    <h4 style="color:#00ADEF; margin-bottom: 0;">Khách Sạn Magnolia Đà Nẵng
                        <span style="box-sizing: border-box; float: right;">
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                            <span style="font-size:15px; color:#FFD21F"><i class="fas fa-star"></i></span>
                        </span>
                    </h4>
                    <small><i class="fas fa-map-marker-alt"></i> 06 Lê Lợi, Phường Thạch Thang, Hải Châu, Đà Nẵng, Hải
                        Châu, Đà Nẵng</small>
                    <div class="house-wrapper">
                        <div class="row">
                            <div class="col-sm-6 noPadRight">
                                <div class="image-house">
                                    <img width="100%"
                                        src="https://firebasestorage.googleapis.com/v0/b/airbnb-b7eb3.appspot.com/o/files%2F112353185.jpg_1563754653920?alt=media&token=9a5c6d56-0f42-4f3a-8d48-9f375ecbad7b"
                                        alt="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="content">
                                    <p style="font-size: 13px; color:gray">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam aspernatur ea
                                        sunt
                                        vitae quidem alias commodi blanditiis repudiandae iure id non ex, beatae,
                                        adipisci
                                        assumenda architecto earum rerum in? Atque?
                                    </p>
                                    <p style=" margin-bottom: 5px; font-size: 15px;"><i style="color: #92C742;"
                                            class="fas fa-check-circle"></i> Đảm bảo hoàn tiền</p>
                                    <p style=" margin-bottom: 5px; font-size: 15px;"><i style="color: #92C742;"
                                            class="fas fa-check-circle"></i> Đảm bảo giá tốt nhất</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pb-1">
                    <div class="rate pt-2 pr-2">
                        <div class="clearfix">
                            <span>8.3</span><span>Xuất sắc</span>
                        </div>
                        <p style="margin-bottom: 0; text-align: right; padding-right: 10px; color:#00adef">(128 đánh giá)</p>
                    </div>
                    <div class="price pt-2 pr-2" style="text-align: right;">
                        <div class="badge  badge-success px-2 py-1" style="font-size: 16px;">Còn phòng</div>
                        <br>
                        <p style="text-decoration:line-through; margin-top:10px; margin-bottom: 0;">647,000 đ</p>
                        <p class="text-success" style="font-size: 20px; margin-bottom: 5px;">500,000 đ</p>
                        <button mat-raised-button color="warn">Xem phòng ngay</button>
                    </div>
                </div>
            </div>
                 -->
            <nav aria-label="Page navigation example" *ngIf="houses.length!=0 && totalPages>1">
                <ul class="pagination">
                    <li class="page-item" (click)="onFirst()"><a class="page-link">First</a></li>
                    <li class="page-item" (click)="onPrevious()" [ngClass]="pageClicked==0?'disabled':''">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item" *ngFor="let page of pages" (click)="loadData(page)"
                        [ngClass]="pageClicked == page ? 'active' : ''">
                        <a class="page-link">{{page+1}}</a>
                    </li>
                    <li class="page-item" (click)="onNext()" [ngClass]="pageClicked==totalPages-1?'disabled':''">
                        <a class="page-link">Next</a>
                    </li>
                    <li class="page-item" (click)="onLast()"><a class="page-link">Last</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
