<!-- show user logout -->
<nav class="navbar navbar-inverse navbar-expand-lg bg-dark" role="navigation-demo" *appShowAuthed="false">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-translate">
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="active nav-item">
                    <a href="/" class="nav-link">Booking House Đà Nẵng</a>
                </li>
            </ul>
            <form class="form-inline ml-auto">
                <div class="form-group has-white">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-white btn-raised btn-fab btn-round">
                    <i class="material-icons">search</i>
                </button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/login" class="nav-link">
                        Singin
                    </a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-social btn-fill btn-github">
                        <i class="fab fa-github"></i> Connect Github
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-social btn-fill btn-facebook">
                        <i class="fab fa-facebook"></i> Connect Github
                    </button>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
</nav>

<!-- show user login -->
<nav class="navbar navbar-inverse navbar-expand-lg bg-dark" role="navigation-demo" *appShowAuthed="true">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-translate">
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="active nav-item">
                    <a href="/" class="nav-link">Booking House Đà Nẵng</a>
                </li>
            </ul>
            <form class="form-inline ml-auto">
                <div class="form-group has-white">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-white btn-raised btn-fab btn-round">
                    <i class="material-icons">search</i>
                </button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        PostHouse
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        RentingHouse
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn btn-rose btn-raised btn-fab btn-round">
                        <i class="material-icons">email</i>
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <button class="profile-photo dropdown-toggle nav-link" [matMenuTriggerFor]="menu">
                        <div class="profile-photo-small">
                            <img src="../../../assets/images/face-image/christian.jpg" alt="Circle Image"
                                class="rounded-circle img-fluid">
                        </div>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="['/Profile', info.username]">Profile</button>
                        <button mat-menu-item>Setting</button>
                    </mat-menu>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
</nav>