
body{
    margin: 0;
    padding: 0;
}

.wrapper{
    background: url(src/assets/images/bg.jpg) center;
    height: 100vh;
}

.change-form{
    position: absolute;
    top:100px;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    background: #0b15218a;
    border-radius: 25px;
}

.change-form input{
    margin-top: 20px;
    border-radius: 10px; 
}

.change-form button{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px; 
}