<footer class="footer footer-black footer-big">
    <div class="container">
        <ul class="float-left">
            <li>
                <a href="#pablo">
            Blog
          </a>
            </li>
            <li>
                <a href="#pablo">
            Presentation
          </a>
            </li>
            <li>
                <a href="#pablo">
            Discover
          </a>
            </li>
            <li>
                <a href="#pablo">
            Payment
          </a>
            </li>
            <li>
                <a href="#pablo">
            Contact Us
          </a>
            </li>
        </ul>
        <div class="copyright float-right">
            Copyright &#xA9; {{ today | date: 'yyyy' }}.
            <script>
                document.write(new Date().getFullYear())
            </script> Codegym Đà Nẵng.
        </div>
    </div>
</footer>