.wrapper{
    background: url(../../../../assets/images/bg.jpg) center;
    height: 100vh;
}

.loginForm{
    position: absolute;
    top:120px;
    width: 400px;
    left:50%;
    margin-left:-200px;
    padding: 10px 50px;
    background: rgba(252, 250, 250, 0.911);
    border-radius: 10px;
}

.loginForm mat-form-field,button{
    width: 100%;
}

a{
    text-decoration:none;
}

.fbIcon{
    color: blue;
    cursor: pointer;
}

.fbIcon:hover{
    color: rgb(29, 7, 153);
}