<div class="wrapper">
  <div class="container text-center">
    <div *ngIf="isLoggedIn; else loggedOut">
      <p class="text-white pt-5">
        Hi {{userLogin}}, You logged in as {{roles}}.
      </p>
    </div>
    <ng-template #loggedOut>
      <form [formGroup]="loginForm" novalidate class="loginForm">
        <p style="margin-top:20px; font-size:25px; color:#0f44a3;">Sign in</p>        
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username">
          <mat-error *ngIf="hasError('username', 'required') && (submitted||fusername.touched)">Username is required
          </mat-error>
          <mat-error *ngIf="hasError('username', 'minlength')">Min 3 characters</mat-error>
          <mat-error *ngIf="hasError('username', 'maxlength')">Max 25 characters</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
          <mat-error *ngIf="hasError('password', 'required') && (submitted||fpassword.touched)">Password is required
          </mat-error>
          <!-- <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error> -->
        </mat-form-field>
        <p class="text-danger text-left mt-1" *ngIf="isLoginFailed">(*) Username or password is wrong!</p>
        <div class="mt-3 clearfix">
          <mat-checkbox class="float-left" style="padding-top: 1px;">Remember me</mat-checkbox><a href="" class="float-right">Forgot password?</a>
        </div>
        <button class="mt-4" mat-raised-button color="primary" type="submit" (click)="onSubmit()">
          <i class="fas fa-sign-in-alt"></i> Login
        </button>
        <p class="text-center mt-4">Not a member?<a href="" class="ml-4"><i class="fas fa-user-plus"></i>  Register</a></p>
        <p class="text-center mb-4">or sign in with: <span class="fbIcon ml-2" (click)="socialSignIn('facebook')"><i class="fab fa-facebook-square" style="font-size:30px;"></i></span></p>
      </form>
    </ng-template>
  </div>
</div>
