<div class="wrapper">
    <!-- MatStepper -->
    <mat-card>
        <mat-horizontal-stepper linear #stepper>
            <!-- MatStepper 1 -->
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup" novalidate>
                    <ng-template matStepLabel>Advertising purposes</ng-template>
                    <mat-form-field class="full-width">
                        <mat-select matInput placeholder="What is your purposes ?" formControlName="purpose" required>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let purpose of purposes" [value]="purpose">
                                {{ purpose }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngFor="let validation of validation_messages.purpose">
                            <mat-error class="error-message"
                                *ngIf="firstFormGroup.get('purpose').hasError(validation.type) && (firstFormGroup.get('purpose').dirty || firstFormGroup.get('purpose').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                    <div style="margin-left: 90%">
                        <button mat-icon-button matStepperNext matTooltip="Continue" matTooltipClass="example-tooltip">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-step>

            <!-- MatStepper 2 -->
            <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
                <form [formGroup]="secondFormGroup" novalidate>
                    <ng-template matStepLabel>Fill yours data</ng-template>

                    <!-- Name Of House -->
                    <mat-form-field class="half-width">
                        <input matInput placeholder="Name Of House" formControlName="name" [(ngModel)]="form.name"
                            required>
                        <mat-error *ngFor="let validation of validation_messages.name">
                            <mat-error class="error-message"
                                *ngIf="secondFormGroup.get('name').hasError(validation.type) && (secondFormGroup.get('name').dirty || secondFormGroup.get('name').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>

                    <!-- BathRooms -->
                    <mat-form-field class="half-width" style="margin-left: 50px">
                        <mat-select matInput placeholder="Bath Rooms" formControlName="bathroom"
                            [(ngModel)]="form.numberOfBathrooms" required>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let bathroom of bathroomes" [value]="bathroom">
                                {{ bathroom }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngFor="let validation of validation_messages.bathroom">
                            <mat-error class="error-message"
                                *ngIf="secondFormGroup.get('bathroom').hasError(validation.type) && (secondFormGroup.get('bathroom').dirty || secondFormGroup.get('bathroom').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>

                    <!-- Type Of House -->
                    <mat-form-field class="half-width">
                        <mat-select matInput placeholder="Type Of House" formControlName="typeHouse"
                            [(ngModel)]="form.typeHouse" required>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let typeOfHouse of typeOfHouses" [value]="typeOfHouse">
                                {{ typeOfHouse }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngFor="let validation of validation_messages.typeHouse">
                            <mat-error class="error-message"
                                *ngIf="secondFormGroup.get('typeHouse').hasError(validation.type) && (secondFormGroup.get('typeHouse').dirty || secondFormGroup.get('typeHouse').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>

                    <!-- Area -->
                    <mat-form-field class="half-width" style="margin-left: 50px">
                        <input matInput placeholder="Area" formControlName="area" [(ngModel)]="form.area" required>
                        <label matSuffix>m2</label>
                        <mat-error *ngFor="let validation of validation_messages.area">
                            <mat-error class="error-message"
                                *ngIf="secondFormGroup.get('area').hasError(validation.type) && (secondFormGroup.get('area').dirty || secondFormGroup.get('area').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>


                    <!-- Type Of Room -->
                    <mat-form-field class="half-width">
                        <mat-select matInput placeholder="Type Of Room" formControlName="typeRoom"
                            [(ngModel)]="form.typeRoom" required>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let typeOfRoom of typeOfRooms" [value]="typeOfRoom">
                                {{ typeOfRoom }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngFor="let validation of validation_messages.typeRoom">
                            <mat-error class="error-message"
                                *ngIf="secondFormGroup.get('typeRoom').hasError(validation.type) && (secondFormGroup.get('typeRoom').dirty || secondFormGroup.get('typeRoom').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>

                    <!-- Description -->
                    <mat-form-field class="half-width" style="margin-left: 50px">
                        <textarea matInput placeholder="Description" formControlName="description"
                            [(ngModel)]="form.describe" required></textarea>
                        <mat-error *ngFor="let validation of validation_messages.description">
                            <mat-error class="error-message"
                                *ngIf="secondFormGroup.get('description').hasError(validation.type) && (secondFormGroup.get('description').dirty || secondFormGroup.get('description').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>

                    <!-- Address -->
                    <mat-form-field class="half-width">
                        <input matInput placeholder="Address Of House" formControlName="address"
                            [(ngModel)]="form.address" required>
                        <mat-error *ngFor="let validation of validation_messages.address">
                            <mat-error class="error-message"
                                *ngIf="secondFormGroup.get('address').hasError(validation.type) && (secondFormGroup.get('address').dirty || secondFormGroup.get('address').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>

                    <!-- Price By Night -->
                    <mat-form-field class="half-width" style="margin-left: 50px">
                        <input matInput placeholder="Price By Night" formControlName="priceByNight"
                            [(ngModel)]="form.priceByNight" required>
                        <label matSuffix>One/Night</label>
                        <mat-error *ngFor="let validation of validation_messages.priceByNight">
                            <mat-error class="error-message"
                                *ngIf="secondFormGroup.get('priceByNight').hasError(validation.type) && (secondFormGroup.get('priceByNight').dirty || secondFormGroup.get('priceByNight').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>

                    <!-- BedRooms -->
                    <mat-form-field class="half-width">
                        <mat-select matInput placeholder="Bed Rooms" formControlName="bedroom"
                            [(ngModel)]="form.numberOfBedrooms" required>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let bedroom of bedroomes" [value]="bedroom">
                                {{ bedroom }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngFor="let validation of validation_messages.bedroom">
                            <mat-error class="error-message"
                                *ngIf="secondFormGroup.get('bedroom').hasError(validation.type) && (secondFormGroup.get('bedroom').dirty || secondFormGroup.get('bedroom').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>

                    <!-- Price By Month -->
                    <mat-form-field class="half-width" style="margin-left: 50px">
                        <input matInput placeholder="Price By Month" formControlName="priceByMonth"
                            [(ngModel)]="form.priceByMonth" required>
                        <label matSuffix>One/Month</label>
                        <mat-error *ngFor="let validation of validation_messages.priceByMonth">
                            <mat-error class="error-message"
                                *ngIf="secondFormGroup.get('priceByMonth').hasError(validation.type) && (secondFormGroup.get('priceByMonth').dirty || secondFormGroup.get('priceByMonth').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>

                    <!-- Status -->
                    <mat-form-field class="half-width">
                        <mat-select matInput placeholder="Status" formControlName="status" [(ngModel)]="form.status">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let status of statuses" [value]="status">
                                {{ status }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div style="margin-left: 70%">
                        <button mat-icon-button matStepperPrevious matTooltip="Come Back"
                            matTooltipClass="example-tooltip">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                        <button mat-icon-button matStepperNext matTooltip="Continue" matTooltipClass="example-tooltip">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-step>

            <!-- MatStepper 3 -->
            <mat-step [stepControl]="ThirdFormGroup">
                <form [formGroup]="ThirdFormGroup" novalidate>
                    <ng-template matStepLabel>Upload Your Image</ng-template>
                    <button mat-button>Open File Image</button>
                    <div style="margin-left: 70%">
                        <button mat-icon-button matStepperPrevious matTooltip="Come Back"
                            matTooltipClass="example-tooltip">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                        <button mat-icon-button matStepperNext matTooltip="Continue" matTooltipClass="example-tooltip">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-step>

            <!-- Finally Stepper -->
            <mat-step [stepControl]="FinalFormGroup">
                <form [formGroup]="FinalFormGroup" (ngSubmit)="onsubmitFinalForm()">
                    <ng-template matStepLabel>Finish</ng-template>
                    <mat-checkbox>Are you sure you want to post this rental?</mat-checkbox>
                    <div>
                        <button mat-icon-button matStepperPrevious matTooltip="Come Back"
                            matTooltipClass="example-tooltip">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                        <button mat-button (click)="stepper.reset()" matTooltip="Refresh"
                            matTooltipClass="example-tooltip">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </div>
                    <div style="margin-left: 70%">
                        <button mat-raised-button color="primary">Post</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
</div>