<form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <div class="wrapper">
        <div class="container">
            <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
                <div class=" change-form">
                    <h3 class="text-white text-center">Update password</h3>
                    <div class="form-group">
                        <input type="password" name="currentPasswod" formControlName="currentPassword"
                            class="form-control" placeholder="Current password...">
                        <div class="alert alert-danger" role="alert"
                            *ngIf="registerForm.get('currentPassword').invalid&& registerForm.get('currentPassword').touched">
                            Current Passwod is required
                        </div>
                    </div>
                    <div formGroupName="password">
                        <div class="form-group">
                            <input type="password" class="form-control" formControlName="newPassword"
                                placeholder="New password..." ng-pattern="[a-z]{1,15}"
                                title="Username should only contain lowercase letters. e.g. john">
                            <div role="alert"
                                *ngIf="registerForm.get('password').get('newPassword').invalid && registerForm.get('password').get('newPassword').touched">
                                <div class="alert alert-danger"
                                    *ngIf="registerForm.get('password').get('newPassword').hasError('minlength')">
                                    Password must be at least 6 characters</div>
                                <div class="alert alert-danger"
                                    *ngIf="registerForm.get('password').get('newPassword').hasError('required')">New
                                    Passwod is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" formControlName="confirmPassword"
                                placeholder="Confirm password...">
                        </div>
                        <div class="col alert alert-danger" role="alert" *ngIf="registerForm.hasError('passwordnotmatch', ['password']) &&
                                registerForm.get('password').touched">
                            Password does not match!
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="reset">
                        Cancel
                    </button>
                    <button class="btn btn-primary btn-block">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>


</form>
<div *ngIf="!loginStatus" style="margin-top: 50px;">
    <p class="alert alert-danger">
        Sorry! You don't have permission for this action!
        Please <a href="/login">Login</a>
    </p>
</div>